<div class="container mt-4">
  <h1>Team Details</h1>

  <div class="mb-3">
    <strong>Name:</strong>
    <p><%= @team.name %></p>
  </div>
  <div class="mb-3">
    <strong>Country:</strong>
    <p><%= @team.country %></p>
  </div>
  <div class="mb-3">
    <strong>Founded:</strong>
    <p><%= @team.founded %></p>
  </div>
  <div class="mb-3">
    <strong>Description:</strong>
    <p><%= @team.description %></p>
  </div>

  <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-warning' %>
  <%= link_to 'Back', teams_path, class: 'btn btn-secondary' %>
</div>