<h1>Team Details</h1>

<p>
  <strong>Date:</strong>
  <%= @team.name%>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.country%>
</p>

<h3>Players</h3>
<ul class="list-group">
  <% @team.players.each do |player| %>
    <li class="list-group-item">
      <strong><%= player.name %></strong> - <%= player.position %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-warning' %>
<%= link_to 'Back', teams_path, class: 'btn btn-secondary' %>